* {box-sizing: border-box;}

body { 
  margin: 0;
  padding: 0;
 
  background-image: url('bg.png');
  background-repeat: no-repeat;
 background-size: auto;
  background-attachment: local;
}

#navbar {
 font-family: 'Oswald';
  overflow: hidden;
  background-color: transparent;
  padding: 20px 100px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#navbar a {
margin-left: 80px;
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

#logo {
	float:left;
	  height: 210px;
	  transition: 0.8s;
	  padding: 10px -50px;
	  transform: translate(-130px, -40px)
}


#brand {
	font-size: 50px;
	transform: translate(-50px, 25px);
	float:left;
	color:#F6F0DB;
	opacity:0;
	transition: 0.3s ease;
	
}

#navbar.nav-colored {
  background-color: #225742; /* Change background color here */
  width: 100%
  
}

#navbar-right {
  transition: 0.4s;
  float: right;
  transform: translate(40px, 70px); /*move links */
}

#navbar-right a {
	font-size: 25px;
	position: relative;
	float:right;
  text-decoration: none;
}

#navbar-right a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0px;
  left: 0;
  background-color: transparent;
  transition: 0.3s ease; \
}

#navbar-right a:hover::before {

  width: 100%; /* Full width on hover */
  background-color: white; 
}

@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px ;
  }
  
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
  
}

#n_arrivals{

background-color:#59763E;
height: 450px;
 width: 100%;
  overflow: hidden;

}
#second{
background-color:#264740;
height:800px;
  box-shadow: 0 0 600px rgba(0,0,0,0.5) inset;
  margin-top:300px;

}

#new {
float:left;
font-family: 'Orbitron';
font-size:70px;
color:white;
transform:translate(80px, 30px);
letter-spacing: 5px;
}

#caption {
	float:left;
font-family: 'Alike Angular';
font-size: 20px;
color:white;
transform:translate(10px, -10px);
letter-spacing: 3px;
}

.button {
	font-family: 'Oswald';	
  background-color:#225742; 
  border: none;
  border-radius: 12px;
  color: white; 
  transform:translate(10px, -30px);
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.button:hover {
	
  background-color:#969D5E; 
	transition: 0.5s ease;
}

#n_a_pic img {
	
	float:right;
	position: relative;
	height:450px;
}

#csoon {
	  
      text-align: center;
	 font-family: 'Orbitron';
      color: white; 
      font-size: 80px; 
	  letter-spacing: 5px;
	  padding: 70px 0;
	   transform: translate(0px, 0px);
	
    }

 .aaargh {
      float: right; 
	  
      color: white; 
	  font-family: 'Alike Angular';
	  text-align: right;
	  font-size: 24px; 
	  padding: 180px 50px;
	  transform: translate(-120px, -90px);
	  line-height: 0.4;
    }
	
	.plants {
		
      float: left;
      top: 170px; 
      color: white; 
	  transform: translate(90px, -100px);
	}
	
.mall {
    
	position:relative;
	height: 400px;
	width: 100%;
  overflow: hidden;
	transform: translate(0%, -20%);
	
}

.title  {
    position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.7);
    font-family: 'Orbitron';
}

.container img { 
    width: auto;
    height: auto;
    object-fit: cover;
}

.bottom-section {
    width: 100%;
    height: 50vh; 
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    text-align: center;
    position: relative; 
    background-color: #F6F0DB;
	transform: translate(0%, -22%);
	font-family: 'Oswald';
	font-size: 25px;
}

.news.text {
    max-width: 43%; 
    margin: auto;
    position: absolute;
    bottom: 33%; 
	   font-family: 'Oswald'
    font-size: 30px;
    line-height: 1.5;
    color: #333;
}

.vegan-container{
	
	margin: 0;
   display: flex;
    height: 200vh;
     justify-content: center;
     align-items: center;
	background-color: #F6F0DB;
	margin-top:-100px;
}

.vegan {

    position: absolute; 
      text-align: center;
      font-family:'Oswald';
	  
      color: #264740; 
      font-size: 20px; 
	transform: translate(0px, -200px);
	letter-spacing: 4px;
    	}
.mark {
      	
      transform: translate(0px, 80px);
 
	}

.join-link{
	text-decoration:none;
	
}

.middle{
    box-shadow: 10px 10px 5px rgba(0, 0, 0,0.6);
    background: url("middle.png");
    width: 70vh;
    height: 35vh;
	margin-top:-100px;
    background-size: cover;
    position: relative;
	display: flex;
	transform: translate(97%, 0%);
	z-index:99;
}

.middle .join{
    display: flex;

    height: 100%;
    align-items: flex-end;
    color: white;
    text-align: right;
    font-family: orbitron;
    font-size: 30px;
    padding-top: 10px;
	transform: translate(85%, 0%);
    text-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}
.prompt{
    position: relative;
    font-family: oswald;
	float:left;
    color: white;
	padding: 5px 20px;
		z-index:99;
}

.prompt p{
    line-height: 0.7;
}
.logofooter a{
	
    text-decoration: none;
    background-color: white;
    border: 8px solid white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s;
}



.logofooter {
    display: flex;
    column-gap: 20px;
  margin: 0 auto;
  
}


.f-logo{
    width: 25px;
}

#background {
	margin-top: -190px;
    background: url(bg.png);
	filter:blur(2px);
	z-index:-2;
	height: 420px;
	
}
