body {
  background-color: #F6F0DB;
}

table {
  width: 100%;
  max-width: 1500px; 
  margin: 0 auto; 
}

.outerproduct {
  box-shadow: 0px 0px 0px 10px rgba(136, 209, 101, 0.35);
  background-color: rgba(136, 209, 101, 0.35);
  border-radius: 5px;
  width: 40vh;
  height: 50vh; 
  display: flex;
  margin-bottom: 20px;
}

.innerproduct {
  background-color: #CDE488;
  border-radius: 20px;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 20px; 
  line-height: 1.5;
  font-family: Oswald;
  letter-spacing: 2px;
  transition: 0.5s;
}

img {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  display: block;
  margin: 15px auto; 
  width: 35vh;
  height: 30vh; 
  max-height: 220px; 
}

.category {
  color: #4D5B36;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  font-size: 30px;
  font-family: Oswald;
  letter-spacing: 5px;
  text-indent: 4%;
  text-decoration-line: underline;
}

.price {
  color: #264740;
}

.innerproduct .categ{
font-style: italic;
}

.innerproduct:hover {
  background-color: #97bb2a;
}

@media screen and (max-width: 600px) {
  .innerproduct {
      font-size: 16px; 
  }

  .category {
      font-size: 24px; 
  }

}

s {
  margin-right: 30px;
}